/* General styles */

body {
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.section {
  padding: 50px 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header styles */

.header {
  padding: 25px 0;
  background-color: #125388;
}

.nav {
  display: flex;
}

.logo {
  margin-right: 75px;
}
.site-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  transition: color linear 300ms;
}

.contact-us {
  background-color: #004aad;
  border: 2px solid white;
  transition: border-color linear 300ms, color linear 300ms;
}

.nav-link:hover {
  color: #ca6d2e;
}

.contact-us:hover {
  border: 2px solid #ca6d2e;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 5px;
}

/* HERO */

.hero-content {
  display: flex;
  justify-content: space-between;
}

.services-slider {
  width: 525px;
  overflow: hidden;
  margin-bottom: 25px;

  background-color: #125388;
  border: 1px solid #004aad;
  border-radius: 10px;
}

.slider-content-list {
  padding: 0 0 0 15px;
}

.slider-content {
  padding: 15px;
  color: white;
}

.slider-content-header {
  font-size: 13px;
  margin-bottom: 15px;
}

.slider-content-text {
  font-size: 15px;
}

.right-section {
  background-color: #ca6d2e;
  width: 525px;
  height: 655x;
}
