/* General styles */

body {
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.section {
  padding: 40px 0;
  border-bottom: 1px dashed #125388;
}

.section-header {
  width: 200px;
  margin: 0 auto 50px auto;
  color: #004aad;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header styles */

.header {
  padding: 25px 0;
  background-color: #125388;
}

.nav {
  display: flex;
}

.logo {
  margin-right: 75px;
}
.site-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-link {
  color: white;
  padding: 15px 10px;
  text-decoration: none;
  font-size: 18px;
  transition: color linear 300ms;
}

.contact-us {
  background-color: #004aad;
  border: 2px solid white;
  border-radius: 20px;
  transition: border-color linear 300ms, color linear 300ms, background-color linear 300ms;
}

.nav-link:hover {
  color: #ca6d2e;
}

.contact-us:hover {
  border: 2px solid #ca6d2e;
  background-color: #125388;
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 5px;
}

/* HERO */

.hero-content {
  display: flex;
  justify-content: space-between;
}

.services-slider {
  width: 525px;
  overflow: hidden;
  margin-bottom: 25px;

  background-color: #125388;
  border: 1px solid #004aad;
  border-radius: 10px;
}

.slider-content-list {
  padding: 0 0 0 15px;
}

.slider-content {
  padding: 15px;
  color: white;
}

.slider-content-header {
  font-size: 13px;
  margin-bottom: 15px;
}

.slider-content-text {
  font-size: 15px;
}

.right-section {
  background-color: #ca6d2e;
  width: 525px;
  height: 655x;
}

/* About company */

.about-company-content {
  display: flex;
  justify-content: space-between;
}

.about-company-list {
  width: 520px;
  color: #125388;
  font-size: 16px;
}

.about-company-item:not(:last-child) {
  margin-bottom: 35px;
}

/* Services */

.services {
  text-align: center;
  list-style: none;
  color: #125388;
}

.services-item:not(:last-child) {
  margin-bottom: 50px;
}

.service-header {
  margin-bottom: 25px;
}

.consultation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.consultation-item {
  width: 525px;
  border: 1px solid #125388;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 1px rgba(18, 83, 136, 0.12), 0px 4px 4px rgba(18, 83, 136, 0.06),
    1px 4px 6px rgba(18, 83, 136, 0.16);
}

.service-subheader {
  text-align: center;
  padding: 15px;
  background-color: #125388;
  color: white;
  width: 100%;
}

.service-subheader-position {
  position: absolute;
}

.consultation-text {
  padding: 15px;
  text-align: justify;
}

.ask-consult {
  display: inline-block;
  color: white;
  background-color: #004aad;
  padding: 15px 10px;
  border-radius: 20px;
  text-decoration: none;
  font-size: 18px;
  transition: color linear 300ms, background-color linear 300ms;
}

.ask-consult:hover {
  color: #ca6d2e;
  background-color: #125388;
}

.individual-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  justify-content: space-between;
}

.individual-item {
  position: relative;
  width: 30%;
  border: 1px solid #125388;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 1px rgba(18, 83, 136, 0.12), 0px 4px 4px rgba(18, 83, 136, 0.06),
    1px 4px 6px rgba(18, 83, 136, 0.16);
}

/* .individual-item:last-child {
  margin: 0 auto;
} */

.individual-text {
  padding: 10px;
  margin-top: 10px;
  text-align: justify;
}

.firms-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}

.firms-item {
  position: relative;
  width: 525px;
  border: 1px solid #125388;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 1px 1px rgba(18, 83, 136, 0.12), 0px 4px 4px rgba(18, 83, 136, 0.06),
    1px 4px 6px rgba(18, 83, 136, 0.16);
}

.firms-item:last-child {
  margin: 0 auto;
}
